@import url('https://fonts.googleapis.com/css?family=Quicksand');


body{
  font-family: "Quicksand", sans-serif;
}

main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.editor-view{
  padding-bottom: 40px;
}

.summary-view{
  min-width: 200px;
  padding-right: 50px;
  padding-left: 40px;
}


td {
  min-width: 30px;
  min-height: 20px;
  padding: 10px 15px;
}

td.corner-placeholder {
  min-width: 80px;
  min-height: 70px
}

table {
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

input.image-upload {
  display: none;
}

input.label-name {
  border: none;
  font-family: "Quicksand", sans-serif;
  font-style: italic;
  text-align: center;
  min-width: 30px;
}
input.question{
  border: none;
  font-family: "Quicksand", sans-serif;
  font-style: italic;
  font-size: 110%;
  min-width: 30px;
  padding-bottom: 30px;
}

.button-remove {
  font-weight: bold;
  color: red;
  background-color: #fee
}

.button-new-label {
  font-weight: bold;
  color: green;
  background-color: #efe
}

.radio-button {
  background-color: #f5f5f5
}

.image-display{
  max-width: 60px;
  max-height: 50px;
}
